{{define "title"}}Form Title{{end}}
{{define "content"}}
<div>
  <p>Content from form.tmpl</p>
  <form action="/">
    <div>
      <label>Code</label>
      <input type="text"></input>
    </div>
  </form>
</div>
{{end}}
