{{define "title"}}Ding Photo{{end}}
{{define "content"}}
<section>
  <canvas id="canvas"></canvas>
  <form method="post" enctype="multipart/form-data" action="/dinge/{{.FormValues.Id}}/photo">
    <label for="input-file" id="drop-area">
      <p>Ziehe ein Bild auf diese Fläche oder klicke
        <em>Durchsuchen...</em>, um ein Bild auf deinem Gerät auszuwählen.
      </p>
      <div id="webcam" style="display: none;">
        <video id="video" autoplay></video>
        <button id="capture">Bild aufnehmen</button>
      </div>
      <div id="preview">
        <div id="image-view">
          <img id="img-img-view" src="{{.FormValues.PhotoUrl}}">
        </div>
        <button type="submit">Übernehmen</button>
      </div>
    </label>
    <input id="input-file" type="file" name="file" accept=".jpg, .jpeg, .png" required />
    {{with .ValidationErrors.file}}
    <p class="error">{{.}}</p>
    {{end}}
  </form>
</section>
{{end}}
