{{define "title"}}Dinge Index{{end}}
{{define "content"}}

<article>
  <form action="/dinge" method="get">
    <input id="input-suche" style="flex-grow: 1;" name="q" value="{{.FormValues.Q}}" type="text" autofocus
      maxlength="100" />
    <select id="input-sort" name="s">
      <option {{if eq .FormValues.S "alpha" }}selected{{end}} value="alpha">Alphabetisch aufsteigend</option>
      <option {{if eq .FormValues.S "omega" }}selected{{end}} value="omega">Alphabetisch absteigend</option>
      <option {{if eq .FormValues.S "latest" }}selected{{end}} value="latest">Datum aufsteigend</option>
      <option {{if eq .FormValues.S "oldest" }}selected{{end}} value="oldest">Datum absteigend</option>
    </select>
    <button type="submit">Suchen</button>
  </form>
</article>

<section>
  {{range .FormValues.Result }}
  <aside>
    <img src="{{.PhotoUrl}}">
    <h2>{{.Name}}<sup>{{.Anzahl}}</sup></h2>
    <p>{{.Code}}</p>
    <a href="/dinge/{{.Id}}"></a>
  </aside>
  {{end}}
</section>
{{end}}
