{{define "title"}}Dinge Index{{end}}
{{define "content"}}
<div>
  <form action="/" method="post">
    <div>
      <label for="input_code">Code</label>
      {{with .FieldErrors.code}}
      <p>{{.}}</p>
      {{end}}
      <input id="input_code" type="text" name="code" value="{{.Form.Code}}" placeholder="Z.B EAN oder ASIN" />
    </div>
    <div>
      <label for="input_anzahl">Anzahl</label>
      {{with .FieldErrors.anzahl}}
      <p>{{.}}</p>
      {{end}}
      <input id="input_anzahl" type="number" name="anzahl" value="{{.Form.Anzahl}}" />
    </div>
    <button type="submit">Hinzufügen</button>
  </form>
</div>
<hr />
<div>
  <h2>Zuletzt erfasst</h2>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Anzahl</th>
      <th>Aktionen</th>
    </tr>
    {{range .LetzteEinträge}}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.Name}}</td>
      <td>{{.Code}}</td>
      <td>{{.Anzahl}}</td>
      <td>
        <a href="/{{.Id}}">Bearbeiten</a>
      </td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
