{{define "usage"}}
<section>
  <aside>
    <h3>Dinge bekommen</h3>
    <p>Wenn du Dinge bekommst, scanne den Produktcode auf der Verpackung. Benutze dazu die Funktion
      <em>Einlagern</em>.
    </p>
    <p>
      <a href="/dinge/new"><i>Einlagern</i></a>
    </p>
  </aside>
  <aside>
    <h3>Dinge verbrauchen oder abgeben</h3>
    <p>Wenn du Dinge verbrauchst oder abgibst, benutze die Funktion Entnehmen.</p>
    <p>
      <a href="/dinge/delete">
        <i>Entnehmen</i>
      </a>
    </p>
  </aside>
</section>
{{end}}
