{{define "welcome"}}
{{/*Refactor: Welcome Header*/}}
<h2>Meine Dinge</h2>
<p>Eine Datenbank für dein Sachen.</p>
<p>Behalte den Überblick. Scanne den Produktcode von Dingen, die du bekommst, verbrauchst oder abgibst.</p>
{{end}}
