:root {
  /* Wird während der Layoutphase zum Kennzeichnen der Container benutzt */
  --layout-border: thin dotted darkgrey;
}

nav {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    border: var(--layout-border);
    margin: 0;
    padding-left: 0;

    li ul {
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      margin-top: 1rem;
      display: none;

      li {
        width: 100%;
      }
    }

    li:hover>ul,
    li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }

  li {
    display: block;
    padding: 1rem;
    position: relative;
  }

  li:hover {
    cursor: pointer;
  }
}
