{{define "header"}}{{end}}
{{define "content"}}

<section>
  <form id="new-form" action="/dinge" method="post">
    <h2>Dinge einlagern</h2>
    <p>Gebe den Produktcode des Dings ein oder Scanne den Produktcode mit der Kamera auf der Verpackung</p>
    <video id="video"></video>
    <label for="code-input">Produktcode</label>
    <input id="code-input" type="text" name="code" value="{{.FormValues.Code}}" autocomplete="off" autofocus required>
    {{with .ValidationErrors.code}}
    <p class="error">{{.}}</p>
    {{end}}

    <label for="anzahl-input">Anzahl</label>
    <input id="anzahl-input" type="number" name="anzahl" value="{{.FormValues.Anzahl}}" required min="1" max="99">
    <span></span>
    {{with .ValidationErrors.anzahl}}
    <p class="error">{{.}}</p>
    {{end}}

    <button type="submit">Hinzufügen</button>
  </form>
</section>
{{template "history" .FormValues.History}}
{{end}}
