{{define "header"}}{{end}}
{{define "content"}}
<section>
  {{template "scanner" .}}
</section>
<section>
  <h2>Zweite Section</h2>
</section>
<section>
  <h2>Dritte Section</h2>
</section>
{{template "history" .FormValues.History}}
{{end}}
