{{define "title"}}Ding Details{{end}}
{{define "content"}}
<div>
  <form action="/{{.Id}}" method="post">
    <input type="hidden" name="id" value="{{.Id}}">
    <div>
      <label for="input_name">Name</label>
      <input id="input_name" type="text" name="name" value="{{.Name}}" required>
    </div>
    <div>
      <label for="input_code">Code</label>
      <input id="input_code" type="text" name="code" value="{{.Code}}" required readonly />
    </div>
    <div>
      <label for="input_anzahl">Anzahl</label>
      <input id="input_anzahl" type="number" name="anzahl" value="{{.Anzahl}}" required readonly />
    </div>
    <button type="submit">Aktualisieren</button>
  </form>
</div>
{{end}}
