{{define "title"}}Ding Details{{end}}
{{define "content"}}
<article>
  <!-- <img src="https://picsum.photos/800/450?random{{.Form.Id}}" alt=""> -->
  <img src="{{.Form.PhotoUrl}}" alt="">
  <h4>{{.Form.Name}}<sup>{{.Form.Anzahl}}</sup></h4>
  <p>{{.Form.Code}}</p>
  <p>{{.Form.Anzahl}}</p>

  <pre>{{.Form.Beschreibung}}</pre>

  <nav>
    <a href="/dinge/{{.Form.Id}}/edit">Bearbeiten</a>
    <a href="/dinge/{{.Form.Id}}/photo">Foto Bearbeiten</a>
    <a href="/dinge/{{.Form.Id}}">Einlagern</a>
    <a href="/dinge/{{.Form.Id}}">Entnehmen</a>
  </nav>
</article>
{{end}}
