{{define "form"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dinge hinzufügen</title>
</head>

<body>
  <header>
    <h1>Dinge hinzufügen</h1>
  </header>
  <main>
    <div>
      <form action="/">
        <div>
          <label>Code</label>
          <input type="text"></input>
        </div>
      </form>
    </div>
  </main>
</body>

</html>
{{end}}
