{{define "index"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dinge</title>
</head>

<body>
  <header>
    <h1>Dinge</h1>
  </header>
  <main>
    <div>
      <a href="#">Dinge hinzufügen</a>
    </div>
    <div>
      <h2>Alle Dinge</h2>
      <p>Hier ist nich nichts zu sehen.</p>
    </div>
  </main>
</body>

</html>
{{end}}
