<!doctype html>
<html lang="de" color-mode="user">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/main.css">
  {{range .Styles}}
  <link rel="stylesheet" href="{{.}}">
  {{end}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinge</title>
</head>

<body>
  <header>
    <nav>
      <menu>
        <li>
          <a href="/dinge">Übersicht</a>
        </li>
        <li>
          <a href="/dinge/new">Einlagern</a>
        </li>
        <li>
          <a href="/dinge/delete">Entnehmen</a>
        </li>
        <li>
          <span>Über</span>
          <menu label="Über">
            <li><a href="/about/license" rel="license">License</a></li>
            <li><a href="/about/usage">Usage</a></li>
          </menu>
        </li>
      </menu>
    </nav>
    {{template "header" .}}
  </header>
  <main>
    {{template "content" .}}
  </main>
  <footer>
    <p>Das ist die Fußzeile</p>
  </footer>
  {{range .Scripts}}
  <script src="{{.}}" type="module"></script>
  {{end}}
</body>

</html>
