<!doctype html>
<html lang="de" color-mode="user">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.17.0"
    integrity="sha384-k+zH7nQFBKm8tCs3NF+6vnC8A9rLni3jsmpXeUTTYsfwKs+GV0ejSCA/ijNEC2X0" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  {{range .Styles}}
  <link rel="stylesheet" href="{{.}}">
  {{end}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinge</title>
</head>

<body>
  <header>
    <nav>
      <span>Dinge</span>
      <ul>
        <li>
          <a href="/dinge">Übersicht</a>
        </li>
        <li>
          <a href="/dinge/new">Einlagern</a>
        </li>
        <li>
          <a href="/dinge/delete">Entnehmen</a>
        </li>
        <li>
          <a href="/about" rel="license">About</a>
        </li>
      </ul>
    </nav>
    {{template "header" .}}
  </header>
  <main>
    {{template "content" .}}
  </main>

  {{range .Scripts}}
  <script src="{{.}}" type="module"></script>
  {{end}}
</body>

</html>
